*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(201, 190, 190);
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    height: 100vh;
}
#left{
   height: 530px;
   width: 650px;
   background-color: rgb(33, 8, 54);
}
#right{
    height: 530px;
    width: 290px;
    background-color:white;
}
#main2{
    position: absolute;
    bottom: 210px;
    height: 300px;
    width: 530px;
    background-color: white;
}
#return{
    position: absolute;
    top: 10px;
    left: 20px;
    font-family:sans-serif;
    font-size: 20px;
    color: black;
    margin: 5px;
    cursor: pointer;
    text-decoration: underline;
}
#main{
    position: absolute;
    top: 150px;
    height: 300px;
    width: 530px;
    background: linear-gradient(to right, #030218, #10051d, #1b0820, #240a22, #2e0921);
}
@keyframes ani1{
    0%{
        height: 300px
    }
    100%{
        height: 0px;
    }
}
@keyframes ani1left{
    0%{
        height: 0px
    }
    100%{
        height: 300px;
    }
}
@keyframes ani2{
    0%{
        height: 0px;
        width: 530px;
    }
    100%{
        height: 300px;
        width: 530px; 
    }
}
@keyframes ani2left{
    0%{
        height: 300px;
        width: 530px;
    }
    100%{
        height: 0px;
        width: 530px; 
    }
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    flex-direction: column;
}
#text{
    display: inline-block;
    position: relative;
    top: -13px;
    left: 86px;
    font-size: 30px;
    font-weight:800;
    color: white;
    font-family:sans-serif;
}
#text2{
    position: relative;
    top: 0px;
    left: 113px;
   width: 200px;
    font-size: 12px;
    font-weight:400;
    color: white;
    font-family:sans-serif;
}
#line{
    height: 200px;
    width: 20px;
    background-color: white;
    border-radius: 7px;
    display: inline-block;
    position: relative;
    left: 50px;
    top: 45px;
    /* box-shadow: inset -20px -26px 25px rgba(160, 143, 206, 0.33); */
    /* box-shadow: 0px 0px 7px 10px rgb(116, 56, 226); */
    box-shadow: 0px 0px 80px 25px rgb(253 253 253);
    /* border: 3px solid blue; */
   z-index: 3;
    transition: all 0.2s;
}
line::after{
    content: ' ';
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 7px;
    position: relative;
    left: 30px;
    top: 80px;
  
}

#down{
    filter: invert(100%);
    border-radius: 20px;
    height: 30px;
    position: absolute;
    top: 415px;
    left: 510px;
    cursor: pointer;
}
#play {   
     filter: invert(100%);
    height: 80px;
    position: absolute;
    top: 250px;
    left: 510px;
    cursor: pointer;
  }
